* {
    font-family: 'Montserrat';
    
}
body {
    background-color:#fff !important;
    width:100vw;
    margin: 0px;
}
.row1 {
transform: translate(7px,31px);
letter-spacing: 2px; 
color:#000;
font-weight: 800;
font-size: 17px;

}
.viz {
    color:rgb(51, 126, 187);
    font-weight: 700;
}
.logo {
    text-align: right;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: Roboto;
    transform: translate(50px,31px);
}
.row5 {
    text-align: right;
    font-family: 'robert';
}
.text1 {
    top:50%;
    left:50%;
    transform: translate(50px,150px); 
    font-size: 18px;
}
.text2 {
    top:50%;
    left:50%;
    transform: translate(50px,165px); 
    font-size: 15px;
}
.image {
    top:50%;
    left:50%;
    transform: translate(65%,40%); 
    height:225px;
    width:225px;
}
.footer {
    left:50%;
    transform: translate(65px,125px); 
    color: rgb(97, 95, 95);
}
.heart {
    height: 20px;
   text-align: vertical;
}
.card {
    width: 350px;
    height: 400px;
    transform: translate(0px,64px);
    border-radius: 15px !important; 
}
.row2 {
    font-weight:bold;
    text-align: center;
    transform: translate(0px,-1px);
    letter-spacing: 2px;
}
.row3 {
    color: rgb(100, 99, 98);
    text-align: center;
    transform: translate(45px,-15px);
    font-size: 12px;
}
.row4 {
    color: rgb(100, 99, 98);
    text-align: center;
    transform: translate(0px,15px);
}
.card-body {
    border-radius: 260px;
    transform: translate(4px,42px);
    text-decoration: none;
}
.btn-inf {
    background-color: rgb(30, 90, 202) !important;
    color:#fff !important;
   
    width:100px;
    height:35px;
    border-radius: 5px;
   
    border: none;
}
.card1 {
    color:#2196f3 !important;
    font-size: 12px;
}
input:hover,
input:active,
input:focus {
    outline:0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}
.line1 {
    transform: translate(175px,100px);
    color:rgb(31, 29, 29) !important;
    font-size: x-small;
 
}
.afooter {
    color:rgb(87, 84, 84);
}
/*---------------------------------DASHBOARD-------------------------------------*/
.name {
    transform: translate(180px,-13px);
}
.profile-pic {
    height:30px;
    width:30px;
    transform: translate(165px,-18px);
    border-radius: 50%;
}
.bg-color {
    background-color: rgba(180, 179, 178, 0.856);
    transform: translate(0px,0px) ;
}
.heading {
    font-weight: 80px;
    margin:0px !important;
   padding:10px 0px 0px 200px;
   width: 100%;
   transform: translate(0px,8px);
}
.dropdown-menu {
    background-color: honeydew;
}
.dropdown-item {
    font-size: small;
    padding: 0px !important;
}
.container {
    padding:0px 110px 0px 70px !important;
}
.card {
    border-radius:0 !important;
}
.name1 {
    transform: translate(39px,-13px);
}
.number {
    padding:0px 0px 0px 18px;
    transform:translate(5px,10px);
}

.card2 {
    transform: translate(18px,27px);
    height:77px;
    color: rgb(155, 153, 150);
    font-size: x-small !important;
}
.btn {
    border-radius: 25px !important;
}
.btn1 {
    background-color: rgb(47, 131, 40) !important;
    color:#fff !important;
    
}
.btn2 {
    background-color: rgb(199, 13, 13) !important;
    color: #fff !important;
}
.card1-dashboard {
    transform: translate(18px,27px);
    height:85px !important;
}
.card-text1 {
    margin-bottom: 0px;
}

.details {
    font-size: 10px;
    margin: 0px;
    padding-top: 0px;
    padding-left: 10px;
}
.add__container {
    margin: 0 auto;
    text-align: center;
    transform: translate(24px,47px);
    margin-bottom: 8px;
}
.add__type {
    width: 55px;
    border: 1px solid #e7e7e7;
    height: 44px;
    font-size: 18px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
    transition: border 0.3s;
}   

.add__description,
.add__value {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
}

.add__description { width: 400px;}
.add__value { width: 100px;}

.add__btn {
    font-size: 35px;
    background: none;
    border: none;
    color: rgb(15, 15, 15);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}

.add__btn:active { transform: translateY(2px); }

.add__type:focus,
.add__description:focus,
.add__value:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.add__btn:focus { outline: none; }


.card3 {
    transform: translate(24px,47px);
    height:auto;
   
}
.rs {
    margin-bottom: 0px;
    font-size: x-small;
    font-weight: 10px;
}
.row {

    margin-right: 0px !important;
    margin-left: 0px;
}
.row-dashboard {
padding-left: 10%;
padding-right: 10%;
}
.card-text {
    color: rgb(155, 153, 150);
    font-size: x-small;
    padding: 20px 0px 0px 10px;
}
.card-text1 {
    padding: 15px 0px 0px 10px;
}
.card-title {
    margin-bottom: 0;
}
.img1{
    transform:translate(152px,-26px);
}
th {
    height: 50px !important;
}