body {
    background-color: #F0F0F7 !important;
    width: 100vw;
    margin: 0px;
}

.row {
    background-color: #fff !important;
}

.row1 {
    transform: translate(50px, 20px);
    letter-spacing: 2px;
    color:#202124;
    font-weight: 700;
}

.viz {
    color: rgb(51, 126, 187);
    font-weight: 700;
}

.logo {
    text-align: right;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: Roboto;
    transform: translate(50px, 31px);
    z-index: 1;
}

.row5 {
    text-align: right;
    font-family: 'robert';
}

.text1 {
    top: 50%;
    left: 50%;
    transform: translate(50px, 150px);
    font-size: 18px;
}

.text2 {
    top: 50%;
    left: 50%;
    transform: translate(50px, 165px);
    font-size: 15px;
}

.image {
    top: 50%;
    left: 50%;
    transform: translate(65%, 40%);
    height: 225px;
    width: 225px;
}

.footer {
    left: 50%;
    transform: translate(65px, 125px);
    color: rgb(97, 95, 95);
}

.heart {
    height: 20px;
    text-align: vertical;
}

.card {
    width: 350px;
    height: 400px;
    transform: translate(0px, 64px);
    border-radius: 15px !important;
}

.row2 {
    font-weight: bold;
    text-align: center;
    transform: translate(0px, -1px);
    letter-spacing: 2px;
}

.row3 {
    color: rgb(100, 99, 98);
    text-align: center;
    transform: translate(45px, -15px);
    font-size: 12px;
}

.row4 {
    color: rgb(100, 99, 98);
    text-align: center;
    transform: translate(0px, 15px);
}
.card-body {
    border-radius: 260px;
    transform: translate(4px, 42px);
    text-decoration: none;
}

.btn-inf {
    background-color: rgb(30, 90, 202) !important;
    color: #fff !important;

    width: 100px;
    height: 35px;
    border-radius: 5px;

    border: none;
}

.heading1 {
    text-align: left !important;
    opacity: .8;
    padding: 15px 0px 0px 130px !important;
    margin-bottom: -10px;
    text-transform: capitalize !important;
    
}
.heading1::after {
    display : block;
    height:2px;
    content: " ";
    background-color: #006EFF;
    margin-top: 0px;
    width:20px;
   
}

.counter-count
{
    padding-left: 6px;
}

.toast-header {
    background-color: #2196f3 !important;
    color:#fff !important;
}
.close {
    padding-left: 110px !important;
}
.toast {
    position: absolute;
    top: 50px;
    z-index: 1;
    right: 10px;
}

.card1 {
    color: #2196f3 !important;
    font-size: 12px;
}

input:hover,
input:active,
input:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.line1 {
    transform: translate(175px, 100px);
    color: rgb(31, 29, 29) !important;
    font-size: x-small;

}

.afooter {
    color: rgb(87, 84, 84);
}

/*---------------------------------DASHBOARD-------------------------------------*/
.name {
    transform: translate(170px, -25px);
    text-transform: capitalize !important;
    color:#212529;
}

.profile-pic {
    height: 30px;
    width: 30px;
    transform: translate(164px, -28px);
    border-radius: 50%;
}

.bg-color {
    background-color: #F0F0F7;
    font-family: 'Source Sans Pro';
    height: auto !important;

}

.heading {
    font-weight: 80px;
    margin: 0px !important;
    padding: 10px 0px 0px 200px;
    width: 100%;
    transform: translate(0px, 10px);
}

.heading1 {
    text-align: center;
    margin-top: 0px;
}

.dropdown-menu {
    background-color: honeydew;
    z-index: 1;
    overflow: inherit !important;
}

.dropdown-item {
    font-size: small;
    text-align: center;
}

.container {
    padding: 0px 110px 0px 70px !important;
}

.card {
    border-radius: 0 !important;

}

.card20 {
    width: 1200px;
    height: 300px;
    transform: translate(50px, 20px);

}

.table {
    position: relative;
}

.card21 {
    position: absolute;
    width: 1200px;
    height: 500px !important;
    transform: translate(50px, 20px);

}

.name1 {
    transform: translate(
        9px, -13px);
}

.number {
    padding: 0px 0px 0px 8px;
    transform: translate(5px, 10px);
    font-family: Oxanium;
    font-weight: 600;
    font-size: medium;
}

.bar {
    padding: 0px 0px 0px 8px;
    transform: translate(179px, -56px);
    height: 40px;
    width: 100px;
}

.bar1 {
    transform: translate(489px, -66px);
    height: 40px;
    width: 100px;
}

.bar2 {

    transform: translate(489px, -76px);
    height: 40px;
    width: 100px;
}

.card2 {
    transform: translate(18px, 27px);
    height: 77px;
}

.btn {
    border-radius: 25px !important;
    text-transform: capitalize !important;

}

.btn1 {
    background-color: #34BF49 !important;
    color: #fff !important;
    width: 100px;

}

.btn2 {
    background-color: #FF4C4C !important;
    color: #fff !important;
    width: 100px;
}

.add__btn1 {
    border-radius: 16px;
    border: none;
    height: 36px;
    width: 80px;
    margin-left: 45px;
}

.card1-dashboard {
    transform: translate(18px, 27px);
    height: 100px !important;
}

.btn-1 {
    background-color: #34BF49 !important;
    color: #fff !important;
    border-style: none;
    margin-left: -2px;
}

.btn-2 {
    background-color: #FF4C4C !important;
    color: #fff !important;
    border-style: none;
}

.monthType {
    width: 120px !important;
}

.card-text1 {
    margin-bottom: 0px;
    font-weight: 200;
    color: #43425D;
   
}

.details {
    font-size: 16px;
    color: #43425D;
    transform: translate(-4px,13px);
    padding-top: 0px;
    font-weight: 600px;
 
}

.add__container {
    margin: 10px 0px 0px 0px;
    text-align: center;
    transform: translate(24px, 15px);
    margin-bottom: 8px;

}
.add__type {
    width: 55px;
    border: 1px solid #e7e7e7;
    height: 44px;
    font-size: 18px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
    transition: border 0.3s;
}

.add__description,
.add__value {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 10px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;

}

.custom-file-label {
    text-align: left;
}

.add__description {
    width: 150px;
}

.add__value {
    width: 120px;
}

.add__btn {
    font-size: 35px;
    background: none;
    border: none;
    color: rgb(15, 15, 15);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}

.add__btn:active {
    transform: translateY(2px);
}

.add__type:focus,
.add__description:focus,
.add__value:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.add__btn:focus {
    outline: none;
}

.custom-file-input {
    width: 200px !important;
}

.card3 {
    transform: translate(24px, 37px);
    height: auto !important;

}

.rs {
    margin-bottom: 0px;
    font-size: medium;
    font-weight: 10px;
    font-family: Oxanium;
    border-left: 1px solid #A0A0A0;
}

.row {

    margin-right: 0px !important;
    margin-left: 0px !important;
}

.row-dashboard {
    padding-left: 10%;
    padding-right: 10%;
}

.card-text {
    color: rgb(155, 153, 150);
    font-size: small;
    padding: 20px 0px 0px 10px;
}

.card-text1 {
    padding: 15px 0px 0px 10px;
}

.card-title {
    margin-bottom: 0;
}

.img1 {
    transform: translate(152px, -26px);
}

th {
    height: 25px !important;
}