* {
    font-family: 'Montserrat';
    
}

body {
    background-color:#fff !important;
}
.row1 {
transform: translate(50px,31px);
letter-spacing: 2px; 
color:#000;
font-weight: 700;
}
.viz {
    color:rgb(51, 126, 187);
    font-weight: 700;
}
.logo {
    text-align: right;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: Roboto;
    transform: translate(50px,31px);
}
.row5 {
    text-align: right;
    font-family: 'robert';
}
.text1 {
    top:50%;
    left:50%;
    transform: translate(50px,150px); 
    font-size: 18px;
}
.text2 {
    top:50%;
    left:50%;
    transform: translate(50px,165px); 
    font-size: 15px;
}
.image {
    top:50%;
    left:50%;
    transform: translate(65%,40%); 
    height:225px;
    width:225px;
}
.footer {
    left:50%;
    transform: translate(65px,125px); 
    color: rgb(97, 95, 95);
}
.heart {
    height: 20px;
   text-align: vertical;
}
.card {
    width: 350px;
    height: 400px;
    transform: translate(0px,64px);
    border-radius: 15px !important; 
}
.row2 {
    font-weight:bold;
    text-align: center;
    transform: translate(0px,-1px);
    letter-spacing: 2px;
}
.row3 {
    color: rgb(100, 99, 98);
    text-align: center;
    transform: translate(45px,-15px);
    font-size: 12px;
}
.row4 {
    color: rgb(100, 99, 98);
    text-align: center;
    transform: translate(0px,15px);
}
.card-body {
    border-radius: 260px;
    transform: translate(4px,42px);
    text-decoration: none;
}
.btn-inf {
    background-color: rgb(30, 90, 202) !important;
    color:#fff !important;
   
    width:100px;
    height:35px;
    border-radius: 5px;
   
    border: none;
}
.card1 {
    color:#2196f3 !important;
    font-size: 12px;
}
input:hover,
input:active,
input:focus {
    outline:0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}
.line1 {
    transform: translate(175px,100px);
    color:rgb(31, 29, 29) !important;
    font-size: x-small;
 
}
.afooter {
    color:rgb(87, 84, 84);
}
