* {
	font-family: 'Montserrat';
}

body {
	background-color: #fff !important;
	width: 97%;
}
/*--------------------sign Up---------------------*/
.row1 {
	transform: translate(50px, 50px);
	letter-spacing: 2px;
	color: #000;
	font-weight: 700;
}

.viz {
	color: rgb(51, 126, 187);
	font-weight: 700;
}

.logo {
	text-align: right;
	letter-spacing: 1px;
	font-weight: 700;
	font-family: Roboto;
	transform: translate(50px, 50px);
}

.row5 {
	text-align: right;
	font-family: 'robert';
}

.text1 {
	transform: translate(50px, 150px);
	text-align: center;
	font-size: 25px;
}

.text2 {
	transform: translate(50px, 150px);
	text-align: center;
	font-size: 20px;
}

.image {
	top: 50%;
	left: 50%;
	transform: translate(160%, 30%);
	height: 225px;
	width: 225px;
}

.card {
	width: 450px;
	transform: translate(48px, 92px);
	border-radius: 15px !important;
}

.row4 {
	color: rgb(100, 99, 98);
	font-size: 20px;
	font-weight: 400;
	transform: translate(130px, 75px);
	font-family: 'Montserrat';
	width: fit-content;
}

.card-body {
	border-radius: 260px;
	text-decoration: none;
}

.btn-inf {
	background-color: rgb(30, 90, 202);
	color: #fff !important;
	width: 100px;
	height: 40px;
	border: none;
	border-radius: 5px;
}


.btn-inf:active {
	background: #34bf49;
}

.btn-inf1 {
	border: none;
	color: #1A73E8;
	background-color: #fff;
	width: 100px;
	height: 40px;
	border-radius: 5px;
	border: .5px solid #1A73E8;
}


.btn-inf1:hover {
	background: #1A73E8;
	color: #fff;
	border: .5px solid #1A73E8;

}
.btn-inf1:active {
	background: #ff4c4c;
	color: #fff;
	border: .5px solid #ff4c4c;

}


.card1 {
	color: #2196f3 !important;
}

input:hover,
input:active,
input:focus {
	outline: 0px !important;
	-webkit-appearance: none;
	box-shadow: none !important;
}

.line1 {
	transform: translate(60px, 115px);
	color: rgb(31, 29, 29) !important;
}

